.page-layout {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  height: 100vh;
}

.header {
  grid-column: 1 / 4;
}

.main {
  grid-column: 2 / 3;
}


.footer {
  grid-column: 1 / 4;
}
