<header class="header">
  <section class="header__wrapper">
    <div class="header__container">
      <h1>
        <a [routerLink]="['/products']" class="title title--large">
          {{ title }}
        </a>
      </h1>
    </div>

    <nav class="nav-menu">

      <ul class="nav-menu__list">
        <li class="nav-menu__item">
          <a [routerLink]="['/products']" class="nav-menu__link"> Livros </a>
        </li>
        <li class="nav-menu__item">
          <a href="#" class="nav-menu__link">Baixe o APP</a>
        </li>
        <li class="nav-menu__item">
          <a href="#" class="nav-menu__link"> Cupons</a>
        </li>
        <li class="nav-menu__item">
          <a href="#" class="nav-menu__link">Cartao Fantasia</a>
        </li>
      </ul>
    </nav>
  </section>

  <app-shopping-cart></app-shopping-cart>
</header>
